# Variables and their type

## Table of content

1. [Table of content](#Table-of-content)
2. [Variables and their type](#Variables-and-their-type)
   1. [Variables](#Variables)
       1. [Assigning a variable](#Assigning-a-variable)
       2. [Types of variables](#Types-of-variables)
       3. [Changin the type of a variable: Casting a variable](#Changin-the-type-of-a-variable:-Casting-a-variable)
       - [A note on Jupyter and Thonny](#A-note-on-Jupyter-and-Thonny:)
       - [Some useful codes when working with strings](#Some-useful-codes-when-working-with-strings)
          - [Creating Row and Column names](#Creating-Row-and-Column-names)
          - [Accessing the Alphabet](#Accessing-the-Alphabet) 
   2. [Complex Printing](#Complex-Printing)
   3. [Adjusting variables](#Adjusting-variables)
       - [Note on Mathematical operators in python](#Note-on-Mathematical-operators-in-python)
       1. [Shortcuts](#Shortcuts)
5. [Exercises](#Exercises)
    1. [Exercise 3 - Some Variables](#Exercise-3---Some-Variables)
    2. [Exercise 4 - Using type](#Exercise-4---Using-type)
       - [Complex numbers and typos](#Complex-numbers-and-typos)
    4. [Exercise 5 - Complex Printing](#Exercise-5---Complex-Printing)
    5. [Exercise 6 - Casting variable](#Exercise-6---Casting-variable)
    6. [Exercise 7 - Math operations](#Exercise-7---Math-operations)
    7. [Exercise 8 - Using shortcuts](#Exercise-8---Using-shortcuts)

# Variables and their type

## Variables



A variable is a placeholder for a known value or result that we can retrieve when we need it. Primitives have a single value attached.

### Assigning a variable



Var1 = "A"  
Num1 = 23

When assinging a variable, NEVER use the name of a built-in function, as it will overwrite it (for this one session)

### Types of variables



A number of different primitive types exist, for us only four are really relevant:

- strings (str): "Defined by quotation marks, colloquially: text"
- integers (int): Whole numbers, e.g. 1,4,-5
- floats (float): Decimal numbers, e.g 1.0, -4.5
- boolean (bool): Truth value (`True`/`False`)

> careful! boolean is a subtype of integer (value 0 or 1) !!!! When filtering for Intergers Boolean will turn up as well

Unlike R, Python doesn't have a format for dates

The type of a variable or datastructure can be checked using the command `type()`  
`type()` results in a class object (I think...)   
Note: `type()` does not prouce an output! To see the type you have combine it with `print()`:

    print(type(object))

### Changin the type of a variable: Casting a variable



Converting the type of a variable into another. The commands are `str()`to convert into string, `int()` to convert into integer and `float()` to convert into a float (decimal numbers). Only one variable can be changed at a time.

Why casting is important:    
It is possible to attach two strings with `+`

    "10" + "10" = "1010"
    10 + 10 = 20


- `str()`
  - floats and integers can be cast into a string with no problem
- `float()`
  - integers can be cast into floats with no problem. But be aware that sometimes 10 is turned into 10.000001 -> combine with `round()`
  - `round()`takes two arguments: the number to round and the decimal points. Negative decimals round to the nearest 10/100 etc.

        round(1.56678,3) = 1.566
        round(1456,-2) = 1500

  - strings can be cast into a float as long as they contain only numbers with max one `.`and a preceding `-`as other characters. Otherwise: Error
- `int()`
   - strings can only be converted into integers if they contain only numbers and max a preceding `-`, decimals produce an error.
   - floats can be turned into integers, but anything after the `.`is simply cut off (not rounded!!)

### A note on Jupyter and Thonny:

- In Thonny there is the variable viewer on the side to see which variable have been assigned already. In the Object Inspector we can then get more information   
- In Jupyter assigned variables can be viewd using the magic command `%who`. More information can be obtained by `%pinfo object` (synonymous to `?object`). Magic commands are specific to IPyhton (Jupyter) and are not recognized by normal Python (e.g. Thonny)

### Some useful codes when working with strings

#### Creating Row and Column names

In [2]:
# To create a list containing columnnames Col1, Col2, ..., Col99,
# Col100 you need a list comprehension as shown below.
# In there python executes the loop (for i in range(1,101)) and
# combines the string "Col" with the converted value of the loop
# variable i (str(i)). These combined strings are placed inside a
# list, because I placed the whole construct inside [ ]
col_names = ["Col"+str(i) for i in range(1,101)]
# Now we can print out the created list
print(col_names)

['Col1', 'Col2', 'Col3', 'Col4', 'Col5', 'Col6', 'Col7', 'Col8', 'Col9', 'Col10', 'Col11', 'Col12', 'Col13', 'Col14', 'Col15', 'Col16', 'Col17', 'Col18', 'Col19', 'Col20', 'Col21', 'Col22', 'Col23', 'Col24', 'Col25', 'Col26', 'Col27', 'Col28', 'Col29', 'Col30', 'Col31', 'Col32', 'Col33', 'Col34', 'Col35', 'Col36', 'Col37', 'Col38', 'Col39', 'Col40', 'Col41', 'Col42', 'Col43', 'Col44', 'Col45', 'Col46', 'Col47', 'Col48', 'Col49', 'Col50', 'Col51', 'Col52', 'Col53', 'Col54', 'Col55', 'Col56', 'Col57', 'Col58', 'Col59', 'Col60', 'Col61', 'Col62', 'Col63', 'Col64', 'Col65', 'Col66', 'Col67', 'Col68', 'Col69', 'Col70', 'Col71', 'Col72', 'Col73', 'Col74', 'Col75', 'Col76', 'Col77', 'Col78', 'Col79', 'Col80', 'Col81', 'Col82', 'Col83', 'Col84', 'Col85', 'Col86', 'Col87', 'Col88', 'Col89', 'Col90', 'Col91', 'Col92', 'Col93', 'Col94', 'Col95', 'Col96', 'Col97', 'Col98', 'Col99', 'Col100']

#### Accessing the Alphabet

In [1]:
# import the module string
import string

# Example for these constants
print("#### Constant ####")
print(string.ascii_lowercase)
print()

# You can convert these constants to list with the casting
# function list
print("#### Lists ####")
lower = list(string.ascii_lowercase)
print(lower)
upper = list(string.ascii_uppercase)
print(upper)
print()

# If you want both you can use letter
all_letters = list(string.ascii_letters)
print("#### Both alphabets ####")
print(all_letters)
print()

# Now you can get all letters from "E" to "W" as follows
letters = upper[upper.index("E"):upper.index("W")+1]
print("#### Specific letters ####")
print(letters)

#### Constant ####
abcdefghijklmnopqrstuvwxyz

#### Lists ####
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

#### Both alphabets ####
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z', 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

#### Specific letters ####
['E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W']

## Complex Printing <a name = "complexprint" ></a>



Several arguments can be combined in `print()`using `,` or f-strings

    print(var1,"text",var2)

This just putes eacht argument after the other separated by a blank. The separation character can be changed using `sep=""`. `sep`has to be the last argument

    print(var1,"text",var2,"text2", sep="_")

f-strings or formatted strings include a variable or formular within one single string. They are defined by an f before the first "

    print(f"Text that includes {var1} or even a function {2+5}")

In [1]:
A = 2

In [2]:
%who

A

In [3]:
?A

Type:        int
String form: 2
Docstring:
int([x]) -> integer
int(x, base=10) -> integer

Convert a number or string to an integer, or return 0 if no arguments
are given.  If x is a number, return x.__int__().  For floating point
numbers, this truncates towards zero.

If x is not a number or if base is given, then x must be a string,
bytes, or bytearray instance representing an integer literal in the
given base.  The literal can be preceded by '+' or '-' and be surrounded
by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
Base 0 means to interpret the base from the string as an integer literal.
>>> int('0b100', base=0)
4

## Adjusting variables

We can assign a result to a variable

a = 5 + 10 results in an integer object with the value 15

we can also *change* a variable

b = a + 1 results in an integer object with value 16

In [4]:
a = 5 + 10
b = a + 5
print(a)
print(b)

15
20

### Note on Mathematical operators in python

Addition `+`  
Substraction `-`  
Multiplication `*`  
Division `/`  
Integer Divison `//`   
Power `**`  

Careful!! `^`is equal to `+` not `**`

Division `/` always returns a float, if at least one float is involved the result is a float, otherwise integers stay integers

In [5]:
print(f"5 + 5 = {5 + 5}")
print(f"5 - 5 = {5 - 5}")
print(f"5 * 5 = {5 * 5}")
print(f"15 / 5 = {15 / 5}")
print(f"15 // 2 = {15 // 2} is an integer division and cuts after the decimal")
print(f"5 ** 5 = {5 ** 5}")

5 + 5 = 10
5 - 5 = 0
5 * 5 = 25
15 / 5 = 3.0
15 // 2 = 7 is an integer division and cuts after the decimal
5 ** 5 = 3125

In [6]:
print("CAREFUL ^ is equal to + power to is **")
print(f"5^2 results in {5^2}")
print(f"5**2 results in {5**2}")

CAREFUL ^ is equal to + power to is **
5^2 results in 7
5**2 results in 25

### Shortcuts



When changing a variable depending on itself there are shortcuts: `+=`, `-=`, `*=`, `/=`, `//=`, `**`

    b = b + 1
    b += 1

    b = b - a 
    b -= a

    etc.

This changes the value of the variable permanently

be aware that `/=` turns an integer into a float!

# Exercises

## Exercise 3 - Some Variables

Write a small Python program that declares and assigns at least 10 Variables of different types
(int, string, float, bool). Use print to show them in the terminal.

In [7]:
#assigning variables of the 4 important types (integer, string, float and boolean)
stringBirthday = "Geburtstag"
age = 33
height = 1.70
cor = True
#f strings can also be used in the assignment of string
fstringexample = f"You can use this to write {stringBirthday} and age {age}" 

#test  that they were correctly assigned with print
#I end with an empty print to separate the next outputs visually
print(stringBirthday)
print(age)
print(height)
print(cor)
print(fstringexample)

Geburtstag
33
1.7
True
You can use this to write Geburtstag and age 33

In [8]:
#make something a bit more fun
name1 = "Lisa Rösch"
birthday1 = "10.03.1990"
age1 = 33
height1 = 1.72
check1 = True

name2 = "Zoé"
birthday2 = "30.04.2002"
age2 = 100
height2 = -4.6
check2 = False

print("My name is ",name1,".",sep="")
print("I was born ",birthday1,". I am ",age1," years old.",sep="")
print("I am ",height1," meters tall.",sep="")
print("This statement is",check1)
print()

print("My name is ",name2,".",sep="")
print("I was born ",birthday2,". I am ",age2," years old.",sep="")
print("I am ",height2," meters tall.",sep="")
print("This statement is",check2)
print()

My name is Lisa Rösch.
I was born 10.03.1990. I am 33 years old.
I am 1.72 meters tall.
This statement is True

My name is Zoé.
I was born 30.04.2002. I am 100 years old.
I am -4.6 meters tall.
This statement is False

## Exercise 4 - Using type()

Define at least seven different variables of different types (integer, float, string, bool) and print
out the corresponding type of them.

In [9]:
#checking the type of the variables created abpove
print(type(name1))
print(type(birthday1))
print(type(age1))
print(type(height1))
print(type(check1))

print(type(name2))
print(type(birthday2))
print(type(age2))
print(type(height2))
print(type(check2))

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

### Complex numbers and typos <a name = "excursion2"></a>

In [10]:
#if by mistake one types , instead of . for decimal one creates a tuple
mistake = 4,5
print(type(mistake))

<class 'tuple'>

In [11]:
#There is also the class complex numbers
complex_number = 2 + 3j
print(complex_number)
print(type(complex_number))

(2+3j)
<class 'complex'>

## Exercise 5 - Complex printing

Use your knowledge of assigning Variables to declare at least seven different variables in a
new script. Print out the variables and combine them with either strings or each other by using
commas and f-Strings. Your program should contain at least 10 different print commands.

In [12]:
##add some variables
name1 = "Lisa Rösch"
birthday1 = "10.03.1990"
age1 = 33
height1 = 1.72
check1 = True
hobby1 = "knitting"
hobby2 = "playing the piano"

In [13]:
#print them using f-Strings.
print(f"My name is {name1}.\nMy birthday is {birthday1} and I am {age1} years old.")
print(f"I am {height1} metres tall.\nThese statements are {check1}.")
print(f"I enjoy {hobby1} and {hobby2}.")

My name is Lisa Rösch.
My birthday is 10.03.1990 and I am 33 years old.
I am 1.72 metres tall.
These statements are True.
I enjoy knitting and playing the piano.

In [14]:
#the alternative is adding everything together with commas:
#but it is more complicated to integrate it into the text this way
print("My name is ",name1,".",sep="")
print("My birthday is",birthday1,"and I am",age1,"years old.")
print("I am ",height1," meters tall.",sep="")
print("This statement is",check1)
print("I enjoy ", hobby1, " and ", hobby2,".",sep="")

My name is Lisa Rösch.
My birthday is 10.03.1990 and I am 33 years old.
I am 1.72 meters tall.
This statement is True
I enjoy knitting and playing the piano.

In [15]:
##I can also print numbers
print(5)

#I can even perform calculations with the numbers within the print command
print(5+7)

## writing a statement that explains what my number means/how I calculated it

#combining with commas
print(5,"+",7,"=",5+7)

#combining with f string
#in the f string a simple number can be put into the string (5)
#or outside it with {} (7)
#the calculation has to be outside the string in {}
print(f"5 + {7} = {5+7}")

5
12
5 + 7 = 12
5 + 7 = 12

In [16]:
##I can combine f string and normal string (both ways around)
check2 = True
randomnumber = 12
print(f"I combine f string {check2}","with numbers",randomnumber,4)
print("I combine normal string",check2,f"with an f string {randomnumber}")

I combine f string True with numbers 12 4
I combine normal string True with an f string 12

## Exercise 6 - Casting variable

Write a script that defines at least five variables of different types and print them out.
Afterwards try to change the datatypes of your variables by casting them. Don’t forget to print
out the type of your variable before and after casting it.

In [17]:
# make some variables
int1 = 5
flt1 = 2.5
string1 = "Hallo"
string2 = "10"
string3 = "4.67"

In [18]:
# check the types of the variables
print("Check the class of my variables:")
print(f"class of int1 ({int1}) is {type(int1)}")
print(f"class of flt1 ({flt1}) is {type(flt1)}")
print(f"class of string1 ({string1}) is {type(string1)}")
print(f"class of string2 ({string2}) is {type(string2)}")
print(f"class of string3 ({string3}) is {type(string3)}")

Check the class of my variables:
class of int1 (5) is <class 'int'>
class of flt1 (2.5) is <class 'float'>
class of string1 (Hallo) is <class 'str'>
class of string2 (10) is <class 'str'>
class of string3 (4.67) is <class 'str'>

In [19]:
# turning my numbers (one an integer and one a float) into strings
int1_str = str(int1)
flt1_str = str(flt1)

print(f"class of int1_str ({int1_str}) is {type(int1_str)}")
print(f"class of flt1_str ({flt1_str}) is {type(flt1_str)}")

class of int1_str (5) is <class 'str'>
class of flt1_str (2.5) is <class 'str'>

In [20]:
# turning my integer and strings into a float
int1_flt = float(round(int1))
#string1 cannot be turned into a float because it contains characters
#string1_flt = float(string1)
string2_flt = float(string2)
string3_flt = float(string3)

print(f"class of int1_flt ({int1_flt}) is {type(int1_flt)}")
print(f"class of string2_flt ({string2_flt}) is {type(string2_flt)}")
print(f"class of string3_flt ({string3_flt}) is {type(string3_flt)}")

class of int1_flt (5.0) is <class 'float'>
class of string2_flt (10.0) is <class 'float'>
class of string3_flt (4.67) is <class 'float'>

In [21]:
# turning my float into an integer
flt1_int = int(flt1)
print(f"int() just cuts the decimal, so flt1 ({flt1}) turns into flt1_int ({flt1_int})")
print(f"class of flt1_int ({flt1_int}) is {type(flt1_int)}")

int() just cuts the decimal, so flt1 (2.5) turns into flt1_int (2)
class of flt1_int (2) is <class 'int'>

In [22]:
#turning my strings into an integer
#only works with string2 because the others are more than a full number
string2_int = int(string2)
print(f"class of string2_int ({string2_int}) is {type(string2_int)}")

class of string2_int (10) is <class 'int'>

In [23]:
#Examples why casting is importantprint("Why converting is important - examples:")
print(string1+string1,"Two strings added with +")
#print(string1-string1) -> produces an error
print(string2+string2,"Two strings (10) added with +") # -> adds the two tens to each other, result: 1010
print(string2_flt+string2_flt,"Two floats (10) added with +") # -> adds the two tens to each other, result: 20

HalloHallo Two strings added with +
1010 Two strings (10) added with +
20.0 Two floats (10) added with +

## Exercise 7 - Math operations

Write a program that shows the use of all 6 math functions. It should work with at least four
different numbers.

In [24]:
#define variables
var1 = 4
var2 = -5
var3 = 0.56
var4 = -0.876
var5 = 700
var6 = 2

In [25]:
#some calculations with the variables
print(f"var1 + var2 - 5 = {var1 + var2 - 5}")
print(var1, "+", var2, "- 5 =", var1 + var2 - 5)

var1 + var2 - 5 = -6
4 + -5 - 5 = -6

In [26]:
result1 = var1 / var2 * 7
print(f"var1 / var2 * 7 = {result1}")

var1 / var2 * 7 = -5.6000000000000005

In [27]:
print(f"{var1} * {var2} - 5 = {var1 * var2 - 5}")
print(f"{var1} * ({var2} - 5) = {var1 * (var2 - 5)}")
print(f"{var5} / 13 = {var5 / 13}")
print(f"{var5} // 13 = {var5 // 13}")
print(f"{var3} * {var4} = {var3 * var4}")
print(f"{var1} ** {var6} = {var1 ** var6}")
print(f"{var1} ** {var2} = {var1 ** var2}")

4 * -5 - 5 = -25
4 * (-5 - 5) = -40
700 / 13 = 53.84615384615385
700 // 13 = 53
0.56 * -0.876 = -0.49056000000000005
4 ** 2 = 16
4 ** -5 = 0.0009765625

In [28]:
#adding round
print(f"{var1} ** {var2} = {var1 ** var2}")
print(f"round({var1} ** {var2}, 5) = {round(var1 ** var2,5)}")

4 ** -5 = 0.0009765625
round(4 ** -5, 5) = 0.00098

In [29]:
#An example for an imprecise result in float because of byte conversions
print(f"14.3*12 = {14.3*12} instead of 171.6")

14.3*12 = 171.60000000000002 instead of 171.6

## Exercise 8 - Using shortcuts


Adjust your program you wrote for Exercise 7 by using the different shortcuts you learned.

In [30]:
var_adj = var1
print(var_adj)

var_adj += 1
print("var_adj += 1")
print(var_adj)

var_adj -= 10
print("var_adj -= 10")
print(var_adj)

var_adj /= var6
print(f"var_adj /= var6 (value of {var6})")
print(var_adj)

var_adj *= -6
print("var_adj *= -6")
print(var_adj)

var_adj += var_adj
print("var_adj += var_adj")
print(var_adj)

var_adj += var_adj
print("var_adj += var_adj")
print(var_adj)

var_adj += 2 * var_adj
print("var_adj += var_adj")
print(var_adj)

4
var_adj += 1
5
var_adj -= 10
-5
var_adj /= var6 (value of 2)
-2.5
var_adj *= -6
15.0
var_adj += var_adj
30.0
var_adj += var_adj
60.0
var_adj += var_adj
180.0