# Module 1.3 Sets

## Tabel of content

1. [Tabel of content](#Tabel-of-content)
2. [Sets](#Sets)
    1. [Creating a set](#Creating-a-set)
    2. [Changing a list into a set](#Changing-a-list-into-a-set)
    3. [Changing a tuple into a set](#Changing-a-tuple-into-a-set)
3. [Exercises](#Exercises)
    1. [Exercise 21 - Working with sets](#Exercise-21---Working-with-sets)

# Sets

Sets are unordered, unchangeable and can't be indexed

>the order of the values can change depending on the calls of our program

>you can't change the elements, but you can add or remove elements

>we are unabel to access individual elements

Sets don't allow duplicate values!!! -> converting a list to set and back removes ALL duplicates

sets accept tuples as value but NOT lists, NOT dictionaries. The tuples are seen as an entity entirely as themselves

If a list contains other data structures it may not be possible to turn it into a set

## Creating a set

a set is created using {} like the dictionary, the difference is that the values don't have keys and I don't know where my values will end up.
Exception: sets created using range, they are always in the "right" order

you CANNOT create an EMPTY set

In [1]:
set1 = {"Hello","World","How","Are","You"}
print(type(set1))
print(set1)

<class 'set'>
{'Hello', 'You', 'World', 'Are', 'How'}

In [2]:
set2 = set(range(20))
print(type(set2))
print(set2)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19}

In [3]:
set_tub = {5,6,(5,6),(5,6,7),(5,6)}
print(set_tub)

{(5, 6, 7), 5, (5, 6), 6}

## Changing a list into a set

In [4]:
list3 = [1,2,3,3,4,5,5,2,3,6,6,5,8]
print(list3)
set3 = set(list3)
print(set3)

[1, 2, 3, 3, 4, 5, 5, 2, 3, 6, 6, 5, 8]
{1, 2, 3, 4, 5, 6, 8}

> Changing a list to a set and back removes ALL duplicates. This can be done in a single line
>
> They are also ordered ascending at the same time

In [5]:
list3 = [1,2,3,3,4,5,5,2,3,6,6,5,8]
print(list3)
list3_new = list(set(list3))
print(list3_new)

[1, 2, 3, 3, 4, 5, 5, 2, 3, 6, 6, 5, 8]
[1, 2, 3, 4, 5, 6, 8]

In [6]:
list4 = ["orange","orange","apple","banana","orange","apple"]
print(list4)
list4_new = list(set(list4))
print(list4_new)

['orange', 'orange', 'apple', 'banana', 'orange', 'apple']
['orange', 'banana', 'apple']

## Changing a tuple into a set

In [7]:
tup5 = [8,1,2,3,3,4,5,5,2,3,6,6,5,8]
print(tup5)
set5 = set(tup5)
print(set5)

[8, 1, 2, 3, 3, 4, 5, 5, 2, 3, 6, 6, 5, 8]
{1, 2, 3, 4, 5, 6, 8}

# Exercises

## Exercise 21 - Working with sets

Write a program that creates four sets of different lengths. Print out the sets.

In [8]:
set1 = {22,33,44,55,66,77,88}
set2 = {"Hello","Today","is","February",14}
set3 = {True,False}
set4 = {-2,36,2.6,-9.65}

print("set1", type(set1), set1)
print("set2", type(set2), set2)
print("set3", type(set3), set3)
print("set4", type(set4), set4)

set1 <class 'set'> {33, 66, 22, 55, 88, 44, 77}
set2 <class 'set'> {'Hello', 'is', 'February', 'Today', 14}
set3 <class 'set'> {False, True}
set4 <class 'set'> {2.6, 36, -2, -9.65}